[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
self = "*"
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
uvicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
valid = "*"
first = "*"
vendor = "*"
elasticsearch = "*"
summary = "*"

[dev-packages]
psycopg2 = "*"

[requires]
python_version = "3.8"
